/* CSS Variables */
:root {
  --primary-color: #279b24;
  --dark-primary-color: #258822;
  --light-primary-color: rgba(126, 239, 104, 0.8);
  --secondary-color: #9fa3a0;
  --white-color: #ffffff;
  --light-green-color: #c1e5c0;
  --dark-color: #333333;
  --danger-color: #e7281c;
  --warning-color: #eeb218;
  --gray-color-1: #fafaf6;
  --gray-color-2: #fcfcfc;
  --gray-color-3: #f9f9f9;
}

/* Reset css */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Reset input border bootstrap */
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-color: var(--primary-color);
}

/* Reset input border focus bootstrap */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: var(--light-primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.text-primary {
  color: var(--primary-color) !important;
}

/* End reset css */

/* Style for header */
header {
  background-color: var(--white-color);
  box-shadow: 0px 5px 10px 0px #0000001a;
}

.header {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  all: unset;
  cursor: pointer;
}

.header .header__browse {
  position: relative;
}

.header .header__browse__btn {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header__browse__category {
  position: absolute;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px #0000001a;
  display: flex;
  padding: 2rem 0;
}

.header .header__browse__room__status {
  border-right: 2px solid var(--secondary-color);
  color: var(--dark-color);
  font-weight: 600;
  padding: 0 0.5rem;
}

.header .header__browse__room__status li,
.header__browse__room__categories li {
  cursor: pointer;
  padding: 0.25rem 1.5rem;
  white-space: nowrap;
}

.header .header__browse__room__status li:hover {
  background-color: var(--light-green-color);
  transition: all 0.5s;
}

.header__browse__room__categories li:hover {
  color: var(--primary-color);
  transition: all 0.25s;
}

.header .header__browse__btn:hover {
  color: var(--primary-color);
  fill: var(--primary-color);
  transition: all 0.5s;
}

.header .header__browse__btn > svg {
  fill: inherit;
}

.header .header__search {
  border: 1px solid var(--primary-color);
  border-radius: 24px;
  padding: 0.5rem;
  max-width: 302px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.header .header__search > input {
  all: unset;
}

.header .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__nav .header__nav__link {
  all: unset;
  cursor: pointer;
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 20px;
  padding: 0 1rem;
}

.header .header__nav .header__nav__link:hover {
  color: var(--primary-color);
  transition: all 0.5s;
}

.header .header__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.header .header__auth__btn {
  border-radius: 40px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--white-color);
  padding: 0.5rem 1.25rem;
  transition: all 0.25s;
}

.header .header__auth__btn:hover {
  background-color: var(--light-green-color);
  color: var(--dark-primary-color);
}

.header .header__auth__btn:last-child {
  background-color: var(--primary-color);
  font-weight: 600;
  color: var(--white-color);
}

.header .header__auth__btn:last-child:hover {
  background-color: var(--dark-primary-color);
  color: var(--white-color);
}

/* Style for home page */
.hero {
  background-color: var(--gray-color-3);
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: 0% 20%;
}

.hero > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 58px;
  min-height: 730px;
}

.hero h1 {
  color: #279b24;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.hero p {
  font-size: 24px;
  color: #333333;
  margin-bottom: 40px;
}

.hero a {
  width: 205px;
  height: 57px;
}

.avail-classes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 680px;
  padding: 2rem 0;
}

.avail-classes h2 {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.avail-classes .see-all {
  all: unset;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.25s;
  font-size: 16px;
  font-weight: 600;
  padding: 0.75rem 5rem;
  border-radius: 12px;
  cursor: pointer;
  background-color: var(--white-color);
  margin-top: 4rem;
}

.avail-classes .see-all:hover {
  background-color: var(--dark-primary-color);
  color: var(--white-color);
}

/* Style for study room page */
.classDivider {
  width: 100%;
  border-bottom: 1px solid var(--secondary-color);
}
#class-selection {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
#class-selection #room-type {
  font-weight: 600;
  font-size: 20px;
  color: var(--secondary-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#class-selection #room-type > div {
  margin-right: 48px;
  padding-bottom: 1rem;
  cursor: pointer;
}

#class-selection #room-type .active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.topics-button {
  border: 1px solid var(--primary-color);
  border-radius: 40px;
  background-color: var(--white-color);
  color: var(--primary-color);
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.arrow-down {
  margin-left: 5px;
}

#class-collection {
  margin-top: 58px;
}

.card {
  margin: 10px;
}
.card > div {
  padding: 8px;
}

.card-title {
  font-weight: 600;
  font-size: 16px;
}

.card-text {
  display: flex;
  align-items: baseline;
  font-size: 14px;
  font-weight: 400;
}

.card-text span {
  margin-right: 8px;
}

.studyRoom-background {
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-card {
  height: 52px;
  margin-top: 16px;
}

.btn-card > span {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.floating-div {
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
}

.floating-div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.floating-div ul li {
  padding: 5px 10px;
  cursor: pointer;
}

.floating-div ul li:hover {
  background-color: #f0f0f0;
}

.btn-outline-green {
  color: #000000;
  border: 1px solid var(--primary-color);
}

.btn-outline-green:hover {
  color: #ffffff;
  border: 1px solid var(--dark-primary-color);
  background-color: var(--dark-primary-color);
}

.btn-green {
  color: #fff;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-green:hover {
  color: #ffffff;
  border: 1px solid var(--dark-primary-color);
  background-color: var(--dark-primary-color);
}

.btn-green:active {
  color: #ffffff !important;
  border: 1px solid var(--light-primary-color) !important;
  background-color: var(--light-primary-color) !important;
}

.background-auth {
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.download-section {
  background-image: url("/assets/background-download.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--gray-color-1);
}

footer {
  background-color: var(--dark-color);
}

footer .social-media a {
  width: 40px;
  height: 40px;
  font-size: 20px;
}
